header {
    top: 0;
    width: 100vw;
    background-color: var(--color-main);
    position: fixed;
    z-index: 9;
}
/*로고*/
.logo {
    height: 120px;
    width: 100%;
    border-bottom: 2px solid white;
    position: relative;
}
.logo a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
}
.logo a img {
    width: 100%;
}
/*메뉴*/
.gnb {
    width: 100%;
    position: relative;
}
header.scroll {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
nav {
    width: 1170px;
    height: inherit;
    margin: 0 auto;
    top: 0;
    left: 0;
    position: relative;
    z-index: 99900;
}
nav > ul {
    width: inherit;
    text-align: center;
    display: flex;
    height: 75px;
    overflow: hidden;
}
nav > ul:hover {
    overflow: visible;
}
nav > ul > li {
    flex: 1;
}
nav > ul > li.menu-btn {
    flex: 1.4;
}
nav a {
    color: white;
}
nav > ul > li > a {
    display: block;
    width: inherit;
    height: 75px;
    line-height: 75px;
    position: relative;
}
nav > ul > li > a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-red);
    transition: 0.3s;
}
nav > ul > li:hover > a:after {
    width: 100%;
}
/*하위메뉴*/
nav > ul ul {
    text-align: center;
    padding: 10px 0 0;
    opacity: 0; 
    transition: 0.4s;
    height: 260px;
}
nav > ul:hover ul {
    opacity: 1;
}
nav > ul ul > li {
    /* line-height: 40px; */
    padding: 8px 0
}
nav > ul ul > li a{
    color: white;
}
nav > ul ul > li a:hover {
    color: var(--color-gray);
}
/*버튼*/
.menu-btn button{
    position: relative;
    top: 14px;
    border: 1px solid white;
    padding: 5px 17px;
    cursor: pointer;
    color: white;

}
.menu-btn .review-btn {
    background-color: rgba(0, 0, 0, 0.363);
    margin-right: 7px;
}
/*서브메뉴 배경*/
nav + .sub-menu-back {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100vw;
    height: 0;
    transition: 0.4s;
    background-color: var(--color-main);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
nav:hover + .sub-menu-back {
    height: 260px;
}