main {
  margin-top: 145px; /*header height*/
}

/*top button*/
.top-button {
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.61);
  opacity: 0;
  position: fixed;
  z-index: 999;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  transform: translateY(-40%);
  transition: 0.3s;
}
.top-button.scroll {
  opacity: 1;
  transform: translateY(0%);
  cursor: pointer;
}

/*01 main-visual*/
.main-visual {
  height: 785px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url(../images/main-visual.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-visual:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-visual-container {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-visual-container > .main-visual-content {
  color: white;
  margin-right: 180px;
}
.main-visual-container > .main-visual-content > p:nth-child(1) {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 20px;
}
.main-visual-container > .main-visual-content > p:nth-child(1) > strong {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
}
.main-visual-container > .main-visual-content > p:nth-child(2) {
  font-style: italic;
  margin-bottom: 50px;
}
.main-visual-container > .main-visual-content > p:nth-child(2) > span {
  margin-bottom: 10px;
  font-size: 0.8rem;
}
.main-visual-container > .main-visual-content > p:nth-child(2) > span {
  display: block;
}
.main-visual-container > .main-visual-content > p:nth-child(2) > span  strong {
  font-size: 1rem;
  color: var(--color-yellow)
}
.main-visual-container > .main-visual-content > div img {
  width: 37px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
.main-visual-container > .main-visual-content > div span {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-gray);
}

/*수강료 조회 폼 및 상담예약 폼*/
.main-visual form {
  width: 600px;
  background-color: white;
  padding: 30px;
}
.main-visual form .form-header,
.reservation form .form-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.main-visual form .form-header img,
.reservation form .form-header img{
  width: 26px;
  height: 26px;
  margin-right: 9px;
}
.main-visual form .form-main,
.reservation form .form-main {
  width: 100%;
  background-color: var(--color-lightgray);
  border: 1px solid var(--color-gray);
  padding: 30px;
  overflow: hidden;
}

.main-visual form .form-main > .form-text > div,
.reservation form .form-main > .form-text > div {
  display: flex;
  margin-bottom: 5px;
  width: 100%;
  overflow: hidden;
}
.main-visual form .form-main > .form-text > div > label,
.main-visual form .form-main > .form-text > div > input[type=text],
.main-visual form .form-main > .form-text > div > input[type=tel],
.reservation form .form-main > .form-text > div > label,
.reservation form .form-main > .form-text > div > input[type=text],
.reservation form .form-main > .form-text > div > input[type=date],
.reservation form .form-main > .form-text > div > input[type=tel] {
  border: 1px solid var(--color-gray);
  background-color: white;
  padding: 18px 0
}
.main-visual form .form-main > .form-text label,
.reservation form .form-main > .form-text label {
  font-weight: 500;
  width: 100px;
  flex-shrink: 0;
  text-align: center;
}
.reservation form .form-main > .form-text label {
  width: 140px;
}
.main-visual form .form-main > .form-text label:before,
.form-text div label[for=reservation-name]:before,
.form-text div label[for=reservation-number]:before,
.form-text div label[for=reservation-subject]:before,
.form-text div label[for=reservation-date]:before {
  content:'*';
  color: var(--color-red);    
}
.main-visual form .form-main > .form-text > div > input[type=text],
.main-visual form .form-main > .form-text > div > input[type=tel],
.reservation form .form-main > .form-text > div > input[type=text],
.reservation form .form-main > .form-text > div > input[type=date],
.reservation form .form-main > .form-text > div > input[type=tel] {
  flex: 1;
  padding: 0 20px;
}
.main-visual form .form-main input[type=submit],
.reservation form .form-main input[type=submit],
.reservation form .form-main input[type=reset] {
  width: 210px;
  height: 55px;
  background-color: var(--color-red);
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.main-visual form .form-main input[type=submit],
.reservation form .form-main > .form-btn{
  float: right;
}
input[type=submit], input[type=reset] {
  opacity: 0.8;
  transition: 0.3s;
}
input[type=submit]:hover, input[type=reset]:hover {
  opacity: 1;
}

/*02 quick-menu*/
.quick-menu {
  padding: 130px 0;
}
.quick-menu-container {
  width: 1080px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.quick-menu-container a {
  display: block;
  width: 155px;
  transform: translateY(0);
  animation: topToBottom-ani 0.5s linear both;
}
.quick-menu-container a:nth-child(2){
  animation-delay: 0.2s;
}
.quick-menu-container a:nth-child(3){
  animation-delay: 0.4s;
}
.quick-menu-container a:nth-child(4){
  animation-delay: 0.6s;
}
.quick-menu-container a:nth-child(5){
  animation-delay: 0.8s;
}
.quick-menu-container a div {
  width: inherit;
  height: 155px;
  border-radius: 50%;
  background-color: var(--color-lightgray);
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.quick-menu-container a:hover div {
  transform: translateY(-10%);
}
.quick-menu-container a div:before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: var(--color-yellow);
  bottom: -100%;
  left: 0;
  transition: 0.3s;
}
.quick-menu-container a:hover div:before{
  bottom: 0;
}
.quick-menu-container a div img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s
}
.quick-menu-container a p {
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.quick-menu-container a:hover p {
  font-weight: 700;
  color: var(--color-yellow);
}

/*03 notice*/
.notice {
  background-color: var(--color-main);
  padding: 130px 0;
}
.notice-container {
  width: 1080px;
  margin: auto;
}
.notice-container .notice-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.notice-container .notice-title img{
  display: block;
  width: 33px;
  height: 33px;
  margin-right: 10px;
}
.notice-container .notice-title h2 {
  color: white;
}
.notice-content-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.notice-content-wrap > .notice-content {
  width: 49%;
  background-color: white;
  padding: 40px;
  position: relative;
  animation: topToBottom-ani 0.5s linear both;
}
/*notice title*/
.notice-content-wrap > .notice-content h3 {
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
.notice-content-wrap > .notice-content h3 img {
  width: 30px;
  margin-right: 10px;
}
/*notice list*/
.notice-content-wrap > .notice-content:nth-child(1) {
  border-top: 10px solid var(--color-yellow);
}
.notice-content-wrap > .notice-content:nth-child(2) {
  border-top: 10px solid var(--color-red);
  animation-delay: 0.3s;
  
}
.notice-content-wrap > .notice-content > .notice-list a {
  display: block;
  padding-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*button*/
.notice-content > a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gray);
  padding: 3px 13px;
  border-radius: 20px;
  top: 38px;
  right: 40px;
  overflow: hidden;
}
.notice-content > a:before {
  content: '';
  background-color: var(--color-gray);
  position: absolute;
  width: 100%;
  height: 100%;;
  top: 0;
  left: -100%;
  transition: 0.3s;
}
.notice-content > a:hover:before {
  left: 0;
}
.notice-content > a > span {
  font-size: 0.8rem;
  font-weight: 500;
  position: relative;
}
.notice-content > a > span:nth-child(2) {
  margin-left: 5px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  border-radius: 50%;
  background-color: var(--color-lightgray);
  text-align: center;
}

/*04 academy-intro*/
.academy-intro {
  background-color: black;
  padding: 130px 0;
  color: white;
}
.intro-container {
  width: 1080px;
  margin: auto;
  text-align: center;
}
.intro-container h2 {
  margin: auto;
  margin-bottom: 50px;
  border: 2px solid var(--color-main);
  padding: 0 20px;
  display: inline-block;
  line-height: 80px;
}
.intro-container h2 span {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-red); 
}
.intro-container > p {
  margin-bottom: 100px;
  font-size: 1.6rem;
}
.intro-container > p > strong {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-yellow);
  text-transform: uppercase;
}
.intro-content-wrap {
  display: flex;
}
.intro-content-wrap .intro-content {
  margin-right: 30px; 
  flex: 1;
}
.intro-content-wrap .intro-content:last-child {
  margin-right: 0;
}
.intro-content {
  position: relative;
  animation: topToBottom-ani 1s linear both;
  border: 2px solid var(--color-main);
}
.intro-content:nth-child(2){
  animation-delay: 0.3s;
}
.intro-content:nth-child(3){
  animation-delay: 0.6s;
}
.intro-content:nth-child(4){
  animation-delay: 0.9s;
}
.intro-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.3;
}
.intro-content:nth-child(1):before {
  background-image: url('../images/intro01.jpg');
}
.intro-content:nth-child(2):before {
  background-image: url('../images/intro02.jpg');
}
.intro-content:nth-child(3):before {
  background-image: url('../images/intro03.jpg');
}
.intro-content:nth-child(4):before {
  background-image: url('../images/intro04.jpg');
}
.intro-content > span {
  display: block;
  border-bottom: 2px solid var(--color-main);
  padding: 13px 0;
  position: relative;
}
.intro-content > div {
  padding: 30px;
  width: inherit;
  position: relative;
}
.intro-content > div > h3 {
  margin-bottom: 30px;
}
.intro-content:nth-child(4) > div h3 {
  
}
.intro-content > div > h3 > span {
  display: block;
}
.intro-content > div > p {
  font-style: italic;
  color: var(--color-yellow);
  font-size: 0.8rem;
}

/*05 academy-info*/

.academy-info {
  padding: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-attachment: fixed;
  position: relative;
}
.academy-info:before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../images/academy-intro2-back.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  opacity: 0.3;
  
}
.academy-info:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
/*content*/
.japanese, .language-training {
  filter: grayscale(0);
  position: relative;
  width: 1080px;
}
.japanese {
  margin-bottom: 205px;
}
.japanese .jp-content,
.language-training .training-content {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.japanese .jp-content {
  height: 500px;
}
.jp-content .jp-text,
.training-content .training-text {
  width: 500px;
  height: 390px;
  filter: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 50px;
  z-index: 2; 
  position: relative;
}  
/* .jp-content .jp-text:before,
.training-content .training-text:before {
  position: absolute;
  width: 490px;
  height: 380px;
  border: 1px solid white;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
} */
.jp-content .jp-text {
  position: absolute;
  background-color: var(--color-red);
  animation: leftToRight-ani 0.5s 0.5s linear both;
}
.training-content .training-text {
  position: absolute;
  background-color: var(--color-yellow);
  color: black;
  right: 0;
  animation: rightToLeft-ani 0.5s 0.5s linear both;
}
.jp-content .jp-text h3,
.training-content .training-text h3 {
  margin-bottom: 25px;
} 

/*button*/
.jp-content .jp-text a,
.training-content .training-text a {
  position: absolute;
  width: 210px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  bottom: 50px;
  right: 50px;
  font-weight: 500;
  overflow: hidden;
}
.jp-content .jp-text a:before,
.jp-content .jp-text a:after,
.training-content .training-text a:before,
.training-content .training-text a:after {
  content: attr(data-link);
  width: 100%;
  height: 100%;
  position: absolute;
  
}
.jp-content .jp-text a:before,
.training-content .training-text a:before {
  top: 0;
  left: 0;
  transition: 0.3s;
  background-color: white;
}
.jp-content .jp-text a:before {
  color: var(--color-red);
}
.training-content .training-text a:before {
  color: var(--color-main);
}

.jp-content .jp-text a:hover:before,
.training-content .training-text a:hover:before {
  top: -100%;
  left: 0;
}
.jp-content .jp-text a:after,
.training-content .training-text a:after {
  top: 100%;
  left: 0;
  transition: 0.3s;
  color: white;
  background-color: var(--color-main);
}
.jp-content .jp-text a:hover:after,
.training-content .training-text a:hover:after {
  top: 0;
  left: 0;
}
.jp-content .jp-text a {
  color: var(--color-red);
}
.training-content .training-text a {
  color: var(--color-blue);
}

/*image*/
.jp-content .jp-img,
.training-content .training-img {
  width: 800px;
  height: 500px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.jp-content .jp-img {
  position: absolute;
  right: 0;
  animation: rightToLeft-ani 0.5s linear both;
}
.training-content .training-img {
  top: 0;
  left: 0;
  position: relative;
  animation: leftToRight-ani 0.5s linear both;
}
.jp-content .jp-img img,
.training-content .training-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.training-content .training-img img {
  position: absolute;
  left: 0;
} 

/*06 review*/
.review {
  background-color: var(--color-gray);
  padding: 130px 0;
}
.review > p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 50px;
}
.reviewslider-container {
  margin: auto;
  position: relative;
  width: 1080px;
  height: 450px;
  background-color: white;
  border: 1px solid var(--color-blue);
  box-shadow: 0 5px 5px rgba(94, 94, 94, .3);
}
.reviewslider {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.reviewslider .slide {
  padding: 25px;
  height: 420px;
  background-color: var(--color-lightgray);
  border: 1px solid var(--color-gray);
  position: relative;
  margin-right: 20px;
}
.slick-slide {
  opacity: .4;
  transform: scale(0.8);
}
.slick-slide.slick-center {
  opacity: 1;
  transform: scale(1);
}
.reviewslider .slide em {
  font-size: 0.8rem;
  font-style: normal;
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--color-blue);
  color: white;
}
.reviewslider .slide em.jp-review {
  background-color: var(--color-red);
}
.reviewslider .slide h3 {
  margin-bottom: 20px;
}
.reviewslider .slide p {
  font-size: 0.8rem;
  font-weight: 300;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}
.reviewslider .slide > span,
.reviewslider .slide a {
  font-size: 0.8rem;
  position: absolute;
  bottom: 25px;
}
.reviewslider .slide > span {
  left: 25px;
}
.reviewslider .slide a {
  font-weight: 500;
  right: 25px;
}

/*review button*/
.slick-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  background-color: white;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(94, 94, 94, .3);
  cursor: pointer;
}
.slick-prev {
  left: -25px;
}
.slick-next {
  right: -25px;
}
.slick-arrow::before {
  display: block;
  font-size: 20px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--color-blue);
}
.slick-prev::before {
  content: "\f053";
}
.slick-next::before {
  content: "\f054";
}

/*07 reservation*/
.reservation {
  background-color: var(--color-main);
  padding: 130px 0;
  color: white;
}
.reservation > p,
.reservation p span {
  font-size: 1.6rem;
  text-align: center;
}
.reservation > p {
  position: relative;
  margin-bottom: 60px;
  z-index: 1;
}
.reservation p span {
  color: var(--color-yellow);
  font-size: 2rem;
  font-weight: 500;
}

/*reservation form*/
.reservation form {
  width: 1080px;
  margin: auto;
  background-color: white;
  margin-bottom: 25px;
  padding: 40px;
  color: black;
}
.reservation form .form-main > .agreement {
  padding: 20px 0;
}
.reservation form .form-main > .agreement a {
  font-size: 0.8rem;
  font-weight: 500;
}
.reservation form .form-main > .agreement a:hover {
  text-decoration: underline;
}

.reservation form .form-main input[type=reset] {
  background-color: var(--color-main);
}
.reservation > div{
  text-align: center;
}

/*animation*/
@keyframes topToBottom-ani {
  0% {
      opacity: 0;
      transform: translateY(-150px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes leftToRight-ani {
  0% {
      opacity: 0;
      transform: translateX(-150px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes rightToLeft-ani {
  0% {
      opacity: 0;
      transform: translateX(150px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

/*responsive*/
@media (max-width: 1370px){
  *{
      font-size: 18px;
  }
  .main-visual-container,
  .quick-menu-container,
  .notice-container,
  .intro-container,
  .japanese, .language-training,
  .reviewslider-container,
  .reservation form {
      width: 85vw;
  }

  /*01 main-visual*/
  .main-visual-container > .main-visual-content {
      margin-right: 60px;
  }
  .main-visual form {
      width: 40vw;
      background-color: white;
      padding: 30px;
  }
  .main-visual form,
  .reservation form {
      padding: 20px;
  }
  .main-visual form .form-main,
  .reservation form .form-main {
      padding: 20px;
  }

  /*02 quick-menu*/
  .quick-menu-container a {
      width: 12vw;
  }
  .quick-menu-container a div {
      height: 12vw;
  }

  /*button*/
  .main-visual form .form-main input[type=submit],
  .reservation form .form-main input[type=submit],
  .reservation form .form-main input[type=reset],
  .jp-content .jp-text a,
  .training-content .training-text a {
      width: 160px;
      height: 45px;
  }
  .jp-content .jp-text a,
  .training-content .training-text a {
      line-height: 45px;
  }
  
}

@media (max-width: 1023px){
  *{
      font-size: 17px;
  }

  /*01 main-visual*/
  .main-visual .main-visual-container {
    flex-direction: column;
  }
  .main-visual-container > .main-visual-content {
      margin-right: 0;
  }
  .main-visual-container > .main-visual-content > p:nth-child(1) > strong {
      display: inline-block;
  }
  .main-visual-container > .main-visual-content > p:nth-child(2) > span {
      display: inline-block;
      margin-right: 15px;
  }
  .main-visual form {
      width: 100%;
  }
  .main-visual-container > .main-visual-content > p:nth-child(2) {
      margin-bottom: 10px;
  }
  .main-visual-content > div {
      margin-bottom: 30px;
  }

  /*04 intro-content*/
  .intro-content-wrap .intro-content {
      margin-right: 20px; 
      flex: 1;
  }
  .intro-content-wrap .intro-content > div {
      padding: 20px;
  }

  /*05 academy-info*/
  .japanese .jp-content {
      height: 40vh;
  }
  .jp-content .jp-text,
  .training-content .training-text {
      padding: 30px;
      width: 37vw;
      height: 37vh;
  }
  .jp-content .jp-text a,
  .training-content .training-text a {
      bottom: 30px;
      right: 30px;
  }
  .jp-content .jp-img,
  .training-content .training-img {
      width: 60vw;
      height: 40vh;

    }

  /*06 review*/
  .reviewslider .slide > span {
      bottom: 45px;
  }
  .reviewslider .slide a {
      left: 25px;
  }

  /*button*/
  .main-visual form .form-main input[type=submit],
  .reservation form .form-main input[type=submit],
  .reservation form .form-main input[type=reset],
  .jp-content .jp-text a,
  .training-content .training-text a {
      width: 150px;
      height: 40px;
  }
  .jp-content .jp-text a,
  .training-content .training-text a {
      line-height: 40px;
      bottom: 30px;
      right: 30px;
  }
}

@media (max-width: 768px){
  *{
      font-size: 15px;
  }

  /*01 main-visual*/
  .main-visual .main-visual-container {
      flex-direction: column;
  }

  /*03 notice*/
  .notice-content-wrap {
      flex-direction: column;
  }
  .notice-content-wrap > .notice-content {
      width: 100%;
  }
  .notice-content-wrap > .notice-content:nth-child(1){
      margin-bottom: 20px;
  }

  /*04 academy-intro*/
  .intro-content-wrap {
      flex-direction: column;
  }
  .intro-content-wrap .intro-content {
      margin-right: 0px; 
      margin-bottom: 40px;
  }
  .intro-content-wrap .intro-content:last-child {
      margin-bottom: 0;
  }

  /*05 academy-info*/
  .jp-content .jp-img,
  .training-content .training-img {
      width: 100%;
  }

  .jp-content .jp-text h3,
  .training-content .training-text h3 {
      margin-bottom: 13px;
  } 
  .jp-content .jp-text,
  .training-content .training-text {
      padding: 20px;
  }

  /*06 review*/
  .reviewslider .slide {
      padding: 20px;
  }
  .reviewslider .slide em,
  .reviewslider .slide p,
  .reviewslider .slide > span,
  .reviewslider .slide a {
      font-size: 1rem;
  }

  /*07 reservation*/
  .reservation form {
      padding: 30px;
  }
  .main-visual form .form-main > .form-text label,
  .reservation form .form-main > .form-text label {
      width: 100px;
  }

  /*button*/
  .main-visual form .form-main input[type=submit],
  .reservation form .form-main input[type=submit],
  .reservation form .form-main input[type=reset],
  .jp-content .jp-text a,
  .training-content .training-text a {
      width: 150px;
      height: 40px;
  }
  .jp-content .jp-text a,
  .training-content .training-text a {
      line-height: 40px;
      bottom: 20px;
      right: 20px;
  }
}

@media (max-width: 480px){
  *{
      font-size: 13px;
  }

  /*02 quick-menu*/
  .quick-menu-container a p {
      margin-top: 10px;
  }

  /*03 notice*/
  .notice-content-wrap > .notice-content {
      padding: 30px;
  }
  .notice-content > a { 
      padding: 3px 10px;
      top: 25px;
  }

  /*05 academy-info*/
  .jp-content .jp-text,
  .training-content .training-text {
      padding: 15px;
      width: 60vw;
      height: 30vh;
      top: 170px;
  }
  .jp-img,
  .training-img {
    
  }

  /*07 reservation*/
  .main-visual form .form-main > .form-text label,
  .reservation form .form-main > .form-text label {
      width: 70px;
  }
  .reservation form {
      padding: 20px;
  }
  .main-visual form .form-main,
  .reservation form .form-main {
      padding: 20px;
  } 
  .main-visual form .form-main > .form-text > div > input[type=text],
  .main-visual form .form-main > .form-text > div > input[type=tel],
  .reservation form .form-main > .form-text > div > input[type=text],
  .reservation form .form-main > .form-text > div > input[type=date],
  .reservation form .form-main > .form-text > div > input[type=tel] {
      flex: 1;
      padding: 0 10px;
  }
  .reservation form .form-main .form-btn {      
      float: none;
      display: flex;
  }
  .reservation form .form-main input[type=submit],
  .reservation form .form-main input[type=reset] {
      flex: 1;
      height: 40px;
  }

  /*button*/
  .main-visual form .form-main input[type=submit],
  .reservation form .form-main input[type=submit],
  .reservation form .form-main input[type=reset],
  .jp-content .jp-text a,
  .training-content .training-text a {
      width: 110px;
      height: 32px;
  }
  .jp-content .jp-text a,
  .training-content .training-text a {
      line-height: 32px;
  }
}

@media (max-width: 375px){
  .main-visual-container,
  .quick-menu-container,
  .notice-container,
  .intro-container,
  .japanese, .language-training,
  .reviewslider-container,
  .reservation form {
      width: 92vw;
  }
}